.hero-banner-wrapper {
  display: flex;
  width: 100%;
}
.hero-image {
  flex-basis: 60%;
}

.hero-content {
  flex-basis: 40%;
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-link {
  background: white;
  color: black;
}
