@media (max-width: 767px) {
  .hero-banner-wrapper {
    flex-direction: column;
  }
  .hero-content {
    padding: 4rem;
  }
}

.hero-banner-wrapper {
  display: flex;
  width: 100%;
}
.hero-image {
  flex-basis: 60%;
}

.hero-content {
  flex-basis: 40%;
  padding: 9rem;
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-link {
  background: white;
  color: black;
}
