.hero-banner-wrapper {
  display: flex;
  width: 100%;
}
.hero-image {
  flex-basis: 60%;
  aspect-ratio: 16/9;
  overflow: hidden;
  object-position: center;
}

.hero-content {
  flex-basis: 40%;
  padding: 9rem;
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-link {
  background: white;
  color: black;
  padding: 10px;
  border-radius: 20px;
}

@media (max-width: 1023px) {
  .hero-banner-wrapper {
    flex-direction: column;
  }
  .hero-content {
    padding: 4rem;
  }
}
